spring:
  datasource:
    url: jdbc:mysql://localhost:3306/accounting_db?useSSL=false&serverTimezone=UTC
    username: root
    password: root

  flyway:
    enabled: true
    locations: classpath:db/migration

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
        jdbc:
          time_zone: UTC

  application:
    name: accounting

logging:
  level:
    org.flywaydb: DEBUG
    org.springframework.boot.autoconfigure.flyway: DEBUG

